.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(/img/header.jpg);
    padding: 6rem 0;
    background-size: cover;
    background-position: left center;
}